<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ******************************************************** -->
<!-- namespacerk DAO의 인터페이스명과 동일 -->

<mapper namespace="com.example.dao.DogDAO">
	<select id="getDog" parameterType="DogKindVO" resultType="DogKindVO">
		select count(dog_kind) count
		from dog_kind
		
	</select>

	
	<select id="getRoomNum" parameterType="Room" resultType="DogKindVO">
		select count(*) count
		from chating_room
		where room_num = #{roomNumber}
	</select>
	
	<insert id="insertRoomMember" parameterType="ChatingRoomVO" >
		insert into chating_room(room_num,room_name,room_member)
		values(#{room_num},#{room_name},#{room_member})
	</insert>
	
	<delete id="deleteRoomMember" parameterType="ChatingRoomVO">
		delete from chating_room
		where room_num=#{room_num} and room_member=#{room_member}
	</delete>

	
	
</mapper>
