@charset "UTF-8";

.font {
    color: #ffa301;
    text-align: center;
}

.icon {
    font-size: xx-large;
    float:right;
}

#insertRoom{
	display: none;
}

.right{
	right:0;
	font-size: x-small;
}

.fontLarge {
    text-align: center;
    font-size: xxx-large;
    margin: 50px 0;
    color: #ffad04;
    font-weight: bolder;
}
