@charset "UTF-8";

.font {
    color: #ffa301;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: bolder;
}

.font1{
	color: #ffa301;
    margin: 0 0 15px 0;
    font-weight: bolder;
}

.icon {
    font-size: xx-large;
    float:right;
}

#insertRoom{
	display: none;
}

.right{
	right:0;
	font-size: x-small;
}

.fontLarge {
    text-align: center;
    font-size: xxx-large;
    margin: 50px 0;
    color: #ffad04;
    font-weight: bolder;
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    color: #212121;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;   
    margin: 3px 10px;
    float: right;
}

.widget1{
	margin-bottom: 1rem;
}

.inputCenter{
	left:70px
}







