* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  padding: 100px;
}

.slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  height: 200px;
  overflow: hidden;
}

.slider-inner {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  pointer-events: none;
}

.slider-item {
  height: 100%;
  background-color: black;
}
