::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 80px;
  max-height: 700px;
  margin: 0;
  margin-left: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  padding-bottom: 6em;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  margin-top: 18.5em;
  padding: 100px 0 0 0;
}

.squares > div {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.squares > div > input {
  text-align: center;
}
